body {
    margin: 0;
    margin-top: 50px;
    font-family: sans-serif;
    padding: 0%;
}

section {
    height: 60vh;
    border: 1px solid gray;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* text-align: center; */
    
    /* background-size: cover; /* Add this line */
    /* background-position: center center; Add this line */
    /* background-repeat: no-repeat; Add this line */
    /* background-attachment: fixed; Add this line */ 
}
header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    line-height: 50px;
    background-color: #eee;
    margin-bottom: auto;
}

header * {
    display: inline;
    height: 50px;
    
}

header ul {
    padding: 5px;
}

header li {
    margin-left: 20px;
    display: inline-block;
}

#hero {
  text-align: center;
  font-weight: 100px;
  margin-top: 10 px;
  /* position: ; */
}

#about {
  text-align: center;
  align-content: center;
  /* color: gray; */
}

p{
  text-align: left;
  color: gray;

}


footer {
    text-align: center;
    padding: 10px;
}

#contact {
  text-align: center;
}

#hero {
    background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url('https://codetheweb.blog/assets/img/posts/steps-to-creating-a-website/field.jpg');
}

#about {
    background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url('https://codetheweb.blog/assets/img/posts/steps-to-creating-a-website/beach.jpg');
}

#contact {
    background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url('https://codetheweb.blog/assets/img/posts/steps-to-creating-a-website/canyon.jpg');
}